*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid lightblue;*/
    padding: 10px;
}


.logo a{
    text-decoration: none;
    color: darkslateblue;
    font-weight: bold;
    font-size: 18px;

}
.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    text-decoration: none;
    color: palevioletred;
    font-family: 'Kanit', sans-serif;
}

.banner{
    background-color: lightskyblue;
    color: #fff;
    text-align: center;
    padding: 2em 1em;

}

.banner-info{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}

.banner-info img{
    max-width: 200px;
    height: auto;
    border-radius: 10%;
}
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 20px;
    max-width: 100vw;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    main{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    
    main div{
        padding: 10px;
    }

    .how-to-play{
        padding: 10px;
        font-size: 14px;
    }

    .step-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
    }

    .step-box{
        width: 100%;
        text-align: center;
    }

    .step-box img{
        width: 100%;
        height: auto;
    }
}

main div{
    background-color: lightpink;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    border-radius: 16px;
}

main img{
    width: 100%;
    border-radius: 12px;
}

.how-to-play{
    background-color: lightsteelblue;
    color: #4b0033;
    padding: 20px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.step-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.step-box{
    background-color: #ffe0eb;
    border-radius: 16px;
    padding: 15;
    transition: transform 0.2s;
}

.step-box:hover {
    transform: scale(1.03);
}

.step-box img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 10px;
}

footer{
    background-color: #ddd;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

